@model Livro_ProfessionalAsp.NetMVC5_.Models.SalutationViewModel

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Index</h2>
@{

    @Html.Action("Menu", new {options = new Livro_ProfessionalAsp.NetMVC5_.Models.MenuOptions { Width = 400, Height = 500 }})
    @Html.RouteLink("Link Text", new { action = "Index", controller = "Home" })

    <span>
        @Url.Action("Browse", "Store", new { genre = "Jazz" }, null)
    </span>
    @Html.Raw("Album:")<br />
    @Html.TextBox("Album")<br />
    @Html.TextBox("AlbumArtUrl")<br />
    @Html.Raw("Album.AlbumArtUrl:")<br />
    @Html.EditorFor(c=>c.Salutation,new { htmlAttributes = new { @class = "checkbox" } }/*,templateName: "Enum-radio"*/)
    <input class="form-control"/>
    @Html.EnumDropDownListFor(c=>c.Salutation,new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.Salutation)
}